@page
@model CASPAR.Pages.AboutModel
@{
	ViewData["Title"] = "About Team";
}

<h1>About the Team</h1>
<div class="align-items-center">
	<!-- Start of Card -->
	<div class="d-inline-flex p-2">
		<div class="container d-flex justify-content-center align-items-center">
			<div class="card border border-dark">
				<div class="upper bg-dark">
					<!-- can add imange here-->
					<div class="w-100 h-100"></div>
				</div>

				<div class="user text-center">
					<div class="profile">
						<img src="~/img/icon_user_whiteongrey.png" class="rounded-circle">
					</div>
				</div>

				<div class="mt-5 text-center">
					<h4 class="mb-0">Korbin Dansie</h4>
					<span class="text-muted d-block mb-2">Lead Developer</span>
					<div class="d-flex justify-content-between align-items-center mt-4 px-4">
						<div class="stats">
							<h6 class="mb-0">Email</h6>
							<span class="text-muted">korbindansie@mail.weber.edu</span>
						</div>

						<div class="stats">
							<h6 class="mb-0">Responsibilities</h6>
							<span class="text-muted">Tickets, Manage Preferences, Student Profile</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End of Card-->
	<!-- Start of Card -->
	<div class="d-inline-flex p-2">
		<div class="container d-flex justify-content-center align-items-center">
			<div class="card border border-dark">
				<div class="upper bg-dark">
					<!-- can add imange here-->
					<div class="w-100 h-100"></div>
				</div>

				<div class="user text-center">
					<div class="profile">
						<img src="~/img/icon_user_whiteongrey.png" class="rounded-circle">
					</div>
				</div>

				<div class="mt-5 text-center">
					<h4 class="mb-0">Madeline Knox</h4>
					<span class="text-muted d-block mb-2">Software Developer</span>
					<div class="d-flex justify-content-between align-items-center mt-4 px-4">
						<div class="stats">
							<h6 class="mb-0">Email</h6>
							<span class="text-muted">madelineknox@weber.edu</span>
						</div>

						<div class="stats">
							<h6 class="mb-0">Responsibilities</h6>
							<span class="text-muted">Course Section, Classrooms</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End of Card-->
	<!-- Start of Card -->
	<div class="d-inline-flex p-2">
		<div class="container d-flex justify-content-center align-items-center">
			<div class="card border border-dark">
				<div class="upper bg-dark">
					<!-- can add imange here-->
					<div class="w-100 h-100"></div>
				</div>

				<div class="user text-center">
					<div class="profile">
						<img src="~/img/icon_user_whiteongrey.png" class="rounded-circle">
					</div>
				</div>

				<div class="mt-5 text-center">
					<h4 class="mb-0">Briella Rutherford</h4>
					<span class="text-muted d-block mb-2">Software Developer</span>
					<div class="d-flex justify-content-between align-items-center mt-4 px-4">
						<div class="stats">
							<h6 class="mb-0">Email</h6>
							<span class="text-muted">jrutherford@mail.weber.edu</span>
						</div>
						<div class="stats">
							<h6 class="mb-0">Responsibilities</h6>
							<span class="text-muted">Semester Template</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End of Card-->
	<!-- Start of Card -->
	<div class="d-inline-flex p-2">
		<div class="container d-flex justify-content-center align-items-center">
			<div class="card border border-dark">
				<div class="upper bg-dark">
					<!-- can add imange here-->
					<div class="w-100 h-100"></div>
				</div>

				<div class="user text-center">
					<div class="profile">
						<img src="~/img/icon_user_whiteongrey.png" class="rounded-circle">
					</div>
				</div>

				<div class="mt-5 text-center">
					<h4 class="mb-0">Wesley Brown</h4>
					<span class="text-muted d-block mb-2">Software Developer</span>
					<div class="d-flex justify-content-between align-items-center mt-4 px-4">
						<div class="stats">
							<h6 class="mb-0">Email</h6>
							<span class="text-muted">wesleybrown@mail.weber.edu</span>
						</div>

						<div class="stats">
							<h6 class="mb-0">Responsibilities</h6>
							<span class="text-muted">Instructor Loads, Mange Users</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End of Card-->
	<!-- Start of Card -->
	<div class="d-inline-flex p-2">
		<div class="container d-flex justify-content-center align-items-center">
			<div class="card border border-dark">
				<div class="upper bg-dark">
					<!-- can add imange here-->
					<div class="w-100 h-100"></div>
				</div>

				<div class="user text-center">
					<div class="profile">
						<img src="~/img/icon_user_whiteongrey.png" class="rounded-circle">
					</div>
				</div>

				<div class="mt-5 text-center">
					<h4 class="mb-0">Shiva Parajuli</h4>
					<span class="text-muted d-block mb-2">Communication Liaison</span>
					<div class="d-flex justify-content-between align-items-center mt-4 px-4">
						<div class="stats">
							<h6 class="mb-0">Email</h6>
							<span class="text-muted">shivaparajuli@mail.weber.edu</span>
						</div>

						<div class="stats">
							<h6 class="mb-0">Responsibilities</h6>
							<span class="text-muted">Communication</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- End of Card-->
</div>


@section Styles {
	<link href="~/css/teamCards.css" rel="stylesheet" type="text/css" />
}